*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(100, 98, 98);
    padding-bottom: 35px;
    margin-bottom: 65px;
    box-shadow: 4px 4px 4px rgba(46, 45, 45, 0.485);
    border: 2px solid black;
}

h1{
    text-align: center;
    padding-top: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.324);
    font-family: 'Courier New', Courier, monospace;
}

h2{
    margin-bottom: 15px;
    margin-left: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.324);
    font-family: 'Courier New', Courier, monospace;
}

main{
    width: 900px;
    background-color: rgb(135, 134, 134);
    margin-left: 50px;
    padding: 10px 10px 10px 25px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.383);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 25px;
}

body{
    background-color:lightgrey;
}

footer{
    background-color: rgb(130, 127, 127);
    text-align: center;
    height: 30px;
    padding-top: 15px;
    border: 1px solid black;

}