@import url('https://fonts.googleapis.com/css2? family= Shalimar & family= Walter+Turncoat & display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(160, 160, 189);
}

h1{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Walter Turncoat', cursive;
}

#conte{
    background-color: rgb(205, 227, 255);
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
}
.nome{
    font-family: 'Walter Turncoat', cursive;
    margin-top: 5px;
}

.in{
    border-radius: 5px;
    border: 1px solid black;
}
.botao{
    border-radius: 5px;
    width: 50px;
    border: 1px solid black;
}
#res{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}